<html>
    <head>
        <title>Secure Calculator</title>
        <script type="text/javascript" src="js/scripts.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/styles.css">

    <h1>Calculator</h1>

    </head>

    <%=yield%>
    <center>
    <input type="text" name="calculator" placeholder="calculator">

   <body background="images/cacly.jpg" align="middle">

    </body>
    </center>
</html>