<html>
    <head>
        <title>invalid</title>
        <script type="text/javascript" src="js/scripts.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <center>
    <body bgcolor="blue">>
    <div class="boxtext">
    <p> invalid username or password please hit previous to try again</p>
    </div>

    <div class= "button">
    <input type="button" onclick="goBack()" class="previous" value="&laquo; Previous">
    <script>
    function goBack() {
        window.history.back();
    }
    </script>
    </center>
    </body>
</html>

