<html>
    <head>
        <title>Secure Calculator</title>
        <script type="text/javascript" src="js/scripts.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <center>   
            <div class="logBox">
                <form method="post" action="login" >
                <div class="head">
                    <h3>Login</h3>
                </div>
                <div class="inputBox">
                    <input type="text"  name="username" placeholder="Name"><br> <br>
		            <input type="password"  name="password"  placeholder="Password">
                </div>
                <div class="names-pws" text-align="center">
                    <p>
                        username1: Admin / password1:Admin
                        username2:josh/ password2: skippy
                        username3:user/ password3:password
                    </p>
                </div><br><br>
                <input type="submit" value="Login">
                </form>
            </div>
        </center>
    </body>
</html>






    