.logbox
{
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
body
{
    background-color: lightblue;
}

.boxes
{
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    box-shadow: 5px 5px;
}

.answer
{
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    box-shadow: 5px 5px;
}